body {
    margin: 0;
    background-color: #240606 !important;
    color: white;
}

/* ЧЁРНАЯ ШАПКА */

#header {
    width: 100%;
    background-color: #000000 !important;
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    max-width: 960px;
    margin: auto;
}


/* ЛОГО */

.logo {
    display: inline-block;
    margin-right: 20px;
}


/* НАЗВАНИЕ */

.site-name {
    display: inline-block;
}

.site-name h1 {
    color: white;
}


/* МЕНЮ */

#menu {
    display: inline-block;
    margin-left: 30px;
}

#menu a {
    color: white;
    margin-right: 20px;
}


/* ОСНОВНОЙ КОНТЕНТ */

.content {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}


/* ССЫЛКИ */

.content a {
    color: #ff9999;
}


/* ТАБЛИЦА */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}


/* СТРОКИ ТАБЛИЦЫ */

tbody tr:nth-child(odd) {
    background-color: #3a0b0b;
}

tbody tr:nth-child(even) {
    background-color: #501010;
}


/* ФОРМА */

input,
select,
textarea {
    margin-top: 5px;
}


/* ЧЁРНЫЙ ПОДВАЛ */

#footer {
    width: 100%;
    background-color: #000000 !important;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
